<html>
<head>

</head>
<body>
Welcome on the Tiresis application, used to get the pronouns to use with one of your fellow employees.

<p>To search the pronoun to be used by someone, please enter the kerberos ID or the email in that form and hit "Search"
<form method="GET" action="{% url 'show_person' %}" >
{{ search_form.as_p }} 
<input type="submit" value="Search">
</form>
</p>
</body>
</html>
